/*
Paleta principal:

rgb(252, 252, 252) #F7F5F3 (cultured)
rgb(86, 86, 86) #565656 (blackboard)
rgb(118, 50, 63) #76323F (oxblood)
rgb(192, 159, 128) #C09F80 (tan)
*/

/* --------------Diseño del cuerpo general-------------- */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    font-family: sans-serif;
    background-color: rgb(240,236,227);
}

.wrapper_body{
    margin: 20px;
    padding: 20px;
    background-color: rgb(215, 207, 199);
    border-radius: 15px;
}

h1.page_title, h2, h3{
    text-align: center;
    padding: 0.1em;
    margin: 15px auto;
}

/* --------------Diseño del encabezado y menú de navegación-------------- */

.logo_tienda{
    background-color: rgb(192, 159, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.logo_tienda img{
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.menu {
    display: inline-block;
    font-size: 17px;
    width: 100%;
    padding: 0;
    margin: 0px 0px 20px 0px;
    background-color: rgb(56, 56, 56);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

ul.menuOptionList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.menuOptionList li {
    float: left;
}

ul.menuOptionList li.listElementRight {
    float: right;
}

ul.menuOptionList li:hover, ul.menuOptionList li.listElementRight:hover{
    background-color: rgb(29, 29, 29);
}

ul.menuOptionList li#esquina_izquierda:hover{
    border-bottom-left-radius: 15px;
}

ul.menuOptionList li#esquina_derecha:hover{
    border-bottom-right-radius: 15px;
}

ul.menuOptionList a.menuOption, ul.menuOptionList a.menuOptionEsquinaIzquierda, ul.menuOptionList a.menuOptionEsquinaDerecha{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    /*Para que no se subrayen los links*/
    padding: 16px;
}

ul.menuOptionList a.menuOption#active{
    background-color: rgb(118, 50, 63);
}

ul.menuOptionList a.menuOption#active_izquierda{
    background-color: rgb(118, 50, 63);
    border-bottom-left-radius: 15px;
}

ul.menuOptionList a.menuOption#active_derecha{
    background-color: rgb(118, 50, 63);
    border-bottom-right-radius: 15px;
}

/* --------------Diseño del buscador general -------------- */

.buscador_container, .filter_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.buscador_wrapper, .filter_wrapper{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

/* -- Barra de búsqueda -- */

.buscador_grid{
    display: grid;
    width: 200px;
    grid-template-areas: "a1 b1 c1" "a2 a2 a2";
    grid-template-columns: 80% auto auto;
    grid-gap: 5px;
    width: 85%;
    border-radius: 5px;
}

.buscador_cell_input{
    grid-area: a1;
}

select#buscador_select, input#buscar_input, input#buscar_button{
    height: 100%;
    width: 100%;

}

.buscador_cell_select{
    grid-area: b1;
}

.buscador_cell_button{
    grid-area: c1;
}

.buscador_cell_checkbox{
    grid-area: a2;
    width: 100%;

}

/* -- Zona de filtros -- */

.filter_grid{
    display: grid;
    width: 200px;
    grid-template-areas: "a1 a1 a1 a1" "a2 b2 c2 d2";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 75%;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.filter_cell_cabecera#a1{
    display: inline;
}

.filter_cell_cabecera{
    padding: 0;
    margin: 10px 0px;
}

.filter_cell_estado{
    grid-area: a1;
    width:100%;

}

.filter_cell_memory{
    grid-area: a2;
}

.filter_cell_ram{
    grid-area: b2;
}

.filter_cell_batery{
    grid-area: c2;
}

.filter_cell_price{
    grid-area: d2;
}
/* -------------- Diseño del botón de modificar móvil que va en verMovil.php -------------- */
div.container_modificar_button{
    display: block;
    width: 100%;
    text-align: center;
}

.wrapper_modificar_button{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

input#modificar_button{
    padding: 5px;
    font-size: 1.2em;
}

/* -------------- Diseño del formulario de agregar móvil -------------- */

.movil_form{
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*Zona de los botones del formulario*/
.block_buttons{
    width: 100%;

    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(239,239,239);
}

.block_buttons > input{
    width: 25%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}


/* Diseño del bloque de visualización de los datos del móvil*/

.container_movil{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.wrapper_movil{
    display: block;

    width: 100%;
}

.grid_cabecera{
    display: grid;
    grid-template-areas: "c1 c2";
    grid-gap: 7px;
    width: 100%;
    grid-template-columns: 20% auto;
    max-height: min-content;
}

.grid_imagen{
    grid-area: c1;
    display: grid;
    grid-template-areas: "img";
    grid-template-columns: 100%;

    text-align: center;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin: 0 auto;
    padding: 10px;

    border-radius: 15px;
    background-color: rgb(239,239,239);


}

.grid_imagen#file_button{
    cursor: pointer;
    background-image: url("../resources/icons/subir.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

.container_imagen{
    grid-area: img;
    display: flex;

    max-width: 960px;
    max-height: 200px;
    width: auto;

    text-align: center;
    align-items: center;
    justify-content: space-around;


}

.imagen_input{
    cursor: pointer;
    position: relative;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 99;
    font-size: 50px;
    opacity: 0;
}

.cell_imagen{
    max-height: 180px;
}

.grid_detalles{
    grid-area: c2;
    display: grid;
    grid-template-areas: "g_n g_n" "g_m g_f" "g_p g_e";
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    height: 200px;
    width: 100%;
}

.grid_detalles > div {
    display: grid;
    grid-template-areas: "c_d_cabecera c_d_contenido";
    grid-template-columns: 10% 80%;
    grid-gap: 2px;
    align-content: center;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(239,239,239);
}

.grid_nombre {
    grid-area: g_n;
    display: grid;
    grid-template-areas: "c_d_cabecera c_d_contenido";
    grid-template-columns: 10% 80%;
}

.grid_marca {
    grid-area: g_m;
    display: grid;
    grid-template-areas: "c_d_cabecera c_d_contenido";
    grid-template-columns: 10% 80%;
}

.grid_fecha {
    grid-area: g_f;
    display: grid;
    grid-template-areas: "c_d_cabecera c_d_contenido";
    grid-template-columns: 10% 80%;
}

.grid_precio {
    grid-area: g_p;
    display: grid;
    grid-template-areas: "c_d_cabecera c_d_contenido";
    grid-template-columns: 10% 80%;
}

.grid_estado {
    grid-area: g_e;
    display: grid;
    grid-template-areas: "c_d_cabecera c_d_contenido";
    grid-template-columns: 10% 80%;
}

.cell_dato_cabecera{
    grid-area: c_d_cabecera;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell_dato_cabecera > strong{
    width: 100%;
}

.cell_dato_contenido{
    grid-area: c_d_contenido;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell_dato_contenido > input{
    display:block;
    width: 100%;
}

.cell_dato_contenido > span{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);

}

/* Zona de las especificaciones */

.lista_especificaciones{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.lista_especificaciones > li{
    padding: 3px;
}

.block_cabecera_especificaciones{
    display: block;
    text-align: center;
    margin-top: 20px;
}

.grid_spec{
    display: grid;
    grid-template-areas: "c_d_cabecera c_d_contenido";
    grid-template-columns: 15% 75%;
    grid-gap: 2px;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 20px 10px;

    border-radius: 15px;
    background-color: rgb(239,239,239);
}

/* Zona de la descripción */

.block_descripcion{
    margin: 10px auto;
    padding: 20px 50px;
    width: 100%;

    border-radius: 20px;
    background-color: rgb(239,239,239);
}

.block_descripcion > textarea{

    width: 100%;
    padding: 10px;
}

.block_descripcion > p{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    text-align: justify;
}

/* -------------- Diseño del formulario de los comentarios -------------- */

.container_comentario_form{
    display: block;
    text-align: center;
}

.wrapper_comentario_textarea{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

textarea#comentario_input{
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

/* -------------- Diseño de la lista de comentarios -------------- */

.comentarios_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.comentarios_list > li{
    margin-top: 10px;
    margin-bottom: 10px;
}

.comentario_contenedor{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(239,239,239);
    border-radius: 15px;
    padding: 20px;
}

.comentario_wrapper{
    display: block;
    width: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.cabecera_comentario{
    background-color: rgb(239, 216, 191);
    border-radius: 5px;
    margin-bottom: 0;
}

.cabecera_comentario > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.cabecera_comentario > ul > li{
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.cuerpo_comentario{
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
}

.cuerpo_comentario > p{

    text-align: justify;
    overflow: hidden;
    padding: 15px;

}

/* -------------- Diseño de las solicitudes  -------------- */

.grid_detalles_solicitud{
    display: grid;
    grid-template-areas: "a1 a2";
    grid-template-columns: 30% 70%;
    grid-gap: 2px;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 5px 10px;

    border-radius: 15px;
    background-color: rgb(239,239,239);
    margin-bottom: 5px;
}

.grid_id_movil_solicitud{
    grid-area: a1;
}

.grid_nombre_movil_solicitud{
    grid-area: a2;
}

.grid_nombre_movil_solicitud, .grid_id_movil_solicitud{
    display: grid;
    grid-template-areas: "c_d_cabecera c_d_contenido";
    grid-template-columns: 10% 90%;
    grid-gap: 2px;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 5px 10px;
}

.block_solicitudes{
    display: block;
    border-radius: 15px;
    background-color: rgb(239,239,239);
    text-align: center;
    padding: 20px;
}

.block_solicitudes > table{
    background-color: rgb(252, 252, 252);
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
}

/* -------------- Diseño del Registro -------------- */
.container_registro{
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.wrapper_registro{
    display: block;
    width: 75%;
}

.form_registro{
    width: 100%;
}

.lista_datos_registro{
    background-color: rgb(239,239,239);
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

.lista_datos_registro > li{
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid_dato_registro{
    display: grid;
    grid-template-areas: "c_d_cabecera_r c_d_contenido_r";
    grid-template-columns: 15% 75%;
    grid-gap: 2px;
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
}

.cell_dato_cabecera_registro{
    grid-area: c_d_cabecera_r;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cell_dato_contenido_registro{
    grid-area: c_d_contenido_r;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell_dato_contenido_registro > input{
    display: block;
    width: 100%;
}

.cell_dato_contenido_registro > input{
    display: block;
    width: 100%;
}

.registro_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.registro_button > input{
    width: 50%;
}

/* -------------- Diseño del Login -------------- */

.form_login_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.lista_login{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    width: 50%;
    background-color: rgb(239,239,239);
    border-radius: 5px;
}

.lista_login > li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.grid_login{
    display: grid;
    grid-template-areas: "c_l_cabecera c_l_contenido";
    align-items: center;
    justify-content: center;
    grid-template-columns: 15% auto;
}

.cell_login_cabecera{
    grid-area: c_l_cabecera;
}

.cell_login_contenido{
    display: grid;
    grid-area: c_l_contenido;
}

.cell_login_contenido > input{
    width: 100%;
}

.cell_login_input{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------- Diseño del pie de página -------------- */

footer.pie_de_pagina{
    text-align: center;
    background-color: rgb(58, 58, 58);
    padding-top: 20px;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: auto;
}

footer.pie_de_pagina a{
    text-decoration: none;
    color: white;
    display: inline;
    text-align: left;
}

footer.pie_de_pagina img {
    display: inline;
    margin: auto;
    vertical-align: middle;
    width: 1.2em;
}

footer.pie_de_pagina ul {
    list-style-type: none;
}

footer.pie_de_pagina ul {
    padding: 5px;
}

footer.pie_de_pagina li {
    margin: 1px;
}

div.footer_list_container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

div.footer_list_wrapper{
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

div.footer_list_wrapper > ul{
    display:inline-block;
    text-align: left;
}